.Services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 10%;
}

.serv-title {
  position: relative;
  text-align: center;
}

.serv-title h1 {
  padding: 0 20px;
  font-size: 72px;
  font-weight: 700;
}

.serv-title img {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 120px;
  z-index: -1;
}

.serv-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
}

.serv-formate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  border-radius: 12px;
  border: 2px solid transparent;
  background: rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  cursor: pointer;
}

.serv-formate h3 {
  font-size: 24px;
  font-weight: 600;
  color: #ddd;
}

.serv-formate h2 {
  font-size: 34px;
  font-weight: 800;
  background: linear-gradient(270deg, #df8908 50%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.serv-formate p {
  color: #bbb;
  font-size: 20px;
  line-height: 1.5;
  max-width: 280px;
}

.ser-read-more {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  font-weight: 600;
  color: #df8908;
  transition: color 0.3s ease;
}

.ser-read-more:hover {
  color: #ff00ff;
}

.serv-formate:hover {
  border: 2px solid #ff00ff;
  background-image: linear-gradient(45deg, #160124, #581900);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

@media (max-width: 1220px) {
  .serv-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/* الهواتف المحمولة */
@media (max-width: 767px) {
  .Services {
    gap: 60px;
    margin: 50px 5%;
  }

  .serv-title h1 {
    padding: 0;
    font-size: 48px;
  }

  .serv-title img {
    width: 100px;
    margin-right: -10px;
  }

  .serv-container {
    grid-template-columns: 1fr;
  }

  .serv-formate {
    gap: 20px;
    padding: 30px;
  }

  .serv-formate h2 {
    font-size: 26px;
  }

  .serv-formate p {
    font-size: 18px;
  }
}
