.Project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 10%;
}

.project-title {
  position: relative;
  text-align: center;
}

.project-title h1 {
  padding: 0px 20px;
  font-size: 72px;
  font-weight: 700;
}

.project-title img {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 120px;
  z-index: -1;
}

.pro-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
}

.pro-container img {
  width: 419px;
  height: 280px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
  border-radius: 8px;
}

.pro-container img:hover {
  transform: scale(1.08);
  border: 2px solid #ff00ff;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.show-more {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 50px;
  border: 2px solid white;
  padding: 20px 50px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 60px;
  transition: all 0.4s ease;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.show-more:hover {
  gap: 25px;
  color: #ff00ff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #ff00ff;
}

@media (max-width: 1220px) {
  .pro-container {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

/* الهواتف المحمولة */
@media (max-width: 767px) {
  .Project {
    gap: 50px;
    margin: 80px 5%;
  }

  .project-title h1 {
    padding: 0;
    font-size: 40px;
    font-weight: 600;
  }

  .project-title img {
    width: 100px;
    margin-right: -10px;
  }

  .pro-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .pro-container img{
    width: 100%;
  }

  .show-more {
    padding: 15px 40px;
    font-size: 18px;
    margin: 40px auto;
  }
}
